body {
    background-color:white;
    height:100%;
    padding:0;
    margin: 0;
}

.container-div {
    /*border: 1px solid yellow;*/
    background-image:url('../images/guitarFret.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    padding:25px;
    height:94.7vh;
    /*height:100%;*/
}


.container-div {
    /*border: 1px solid pink;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-div .headerContent {
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.container-div .headerContent .headerText {
    padding:0;
    margin:0;
    font-size:95px;
}

.container-div .headerContent .headerSubText {
    padding:0 0 0 5px;
    margin: -25px 0 0 0;
    font-size:24px;
    text-transform: uppercase;
}


.container-div .headerContent {
    margin-left:25px;
    /*border: 1px solid green;*/
    font-family: 'Merriweather', serif;
    font-size:36px;
}

.container-div .headerContent ul {
    text-shadow: -1px 0 #444, 0 1px #444, 1px 0 #444, 0 -1px #444;
    padding: 0 10px 0 10px;
    margin:0 0 0 75px;
}

.container-div .headerContent ul li {
    /*display:inline-block;*/
    font-size:20px;
}

.container-div .headerLogo {
    border-radius: 50%;
    border: 1px solid #444;
    /*width:100px;*/
    /*height:100px;*/
}




.aContentPage {
    margin-left:15px;
    margin-right:15px;
}

.aExperienceItem {
    margin: 15px 0 15px 0;
    padding:15px;
    border: 1px solid black;
}

.experienceLabel {
    margin: 15px 0 0 0;
    padding: 0;
    font-size:16px;
}

.experienceHeader {

}


.experienceHeader h1 {

    margin: 0 5px 0 0;
    padding: 0;
    display:inline-block;
    font-size:26px;
    font-weight:bold;
}

.experienceHeader h2 {

    margin: 0;
    padding: 0 0 0 0px;
    display:inline-block;
    font-weight:normal;
    font-size:20px;
}



.experiencePosition {
    font-style: italic;
    margin:0;
    padding:0;
    font-size:18px;
}

.experienceDates {
    margin:5px 0 0 0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    font-size:12px;
    text-transform: uppercase;

}

.experienceDescription {
    font-weight: normal;
    font-size: 14px;
}

.aExperienceItem ul {
    margin-top:0;
    margin-bottom:0;
}

.aExperienceItem li {
    font-size: 12px;
}